.item{
    border: 1px solid lightslategray;
    box-shadow: 0px 0px 10px solid lightgray;
    background-color: rgb(196, 255, 235);
}
.item1{
    border-radius: 30px;
    width: 100%;
}
.container{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}
.item1 input{
    width: 50%;
    padding: 15px 8px;
    border-radius: 20px;
    margin-bottom: 15px;

}

.item2 p{
     text-decoration: underline;
}
.item2 button{
    padding: 15px ;
    border-radius: 20px;
    margin: 10px 30px;
}